{{#
	@name Peak toolbar
	@desc The Peak toolbar component displaying debug information.
#}}

<!-- /components/_toolbar.antlers.html -->
{{ if environment == 'local' }}
    <aside
        class="fixed z-50 bottom-1 right-1 flex text-xs divide-x divide-white shadow-sm divide-solid motion-safe:transition-opacity hover:opacity-100"
        x-data="{ toolbarVisible: $persist(true).as('toolbarVisible') }"
        x-ref="toolbar"
        :class="{ 'opacity-100': toolbarVisible, 'opacity-0': !toolbarVisible }"
        x-cloak
    >

    </aside>
{{ /if }}
<!-- End: /components/_toolbar.antlers.html -->
