{{#
	@name Footer
	@desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="w-full py-2 mt-auto bg-gray-600 text-xs">
    <ul class="flex justify-around">
        {{ collection from="footer" }}
            <li class="text-white flex flex-col">
                <span class="m-auto">
                    {{font_awesome:icon}}
                </span>
                <a href="{{ link }}">
                    {{ social_title }}
                </a>
            </li>
        {{ /collection }}
    </ul>
</footer>
<!-- End: /layout/_footer.antlers.html -->
