{{#
@name Main desktop navigation
@desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden md:block" aria-label="{{ trans:strings.main_navigation }}">
    <ul class="flex">
    {{ nav:main }}
        <li class="mx-3 uppercase {{ if is_current }} underline {{ /if }}"><a href="{{ url }}">{{ title }}</a></li>
    {{/nav:main}}
    </ul>
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
