/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('/public/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
        url('/public/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/public/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/public/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/public/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/public/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
    }

    @font-face {
        font-family: 'Judson';
        font-style: normal;
        font-weight: 400;
        src: url('/public/fonts/judson-v18-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
        url('/public/fonts/judson-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/public/fonts/judson-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/public/fonts/judson-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/public/fonts/judson-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/public/fonts/judson-v18-latin-regular.svg#Judson') format('svg'); /* Legacy iOS */
    }
}

@layer components {
    .logo-bg:before {
        content: " ";
        background-color: white;
        width: 11.5rem;
        height: 6.5rem;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        margin-left: -1em;
        overflow: hidden;
        clip-path: polygon(50% 0%, 91% 0, 100% 19%, 100% 50%, 86% 82%, 57% 94%, 25% 95%, 0 86%, 0% 35%, 0 0);
    }

    .logo-bg {
        filter: url('#goo');
    }
}

@layer page_builder {
    .bg-line-light {
        background-image: url("/resources/images/line-light.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .bg-line-dark {
        background-image: url("/resources/images/line-dark.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer utilities {

}
