{{#
	@name Events Preview
	@desc The Events Preview page builder block.
    @set page.page_builder.events_preview
#}}
<!-- /page_builder/_events_preview.antlers.html -->
<section class="flex flex-col h-screen w-full bg-secondary bg-line-light snap-center">
<div class="px-20 my-auto">
    {{partial:typography/h2 content="{{events_preview_title}}" class="mb-5"}}
    <div id="vue-app" class="w-full">
        <EventsPreview></EventsPreview>
    </div>
</div>
</section>
<!-- End: /page_builder/_events_preview.antlers.html -->
