<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta name="keywords" content="Teatro Vicenza Teatro San Marco">
    <meta name="description"
          content="Teatro san marco a vicenza, un luogo storico in cui poter segure rappresentazioni teatrali, concerti, oppure meeting e conferenze">
    <title>Teatro San Marco | Rappresentazioni, Concerti e Conferenze</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% css "/assets/styles/desktop.css" %}
    {% css "/assets/icons/fontawesome-free-5.15.4-web/css/all.min.css" %}
    <link rel="shortcut/icon" href="favicon.ico"/>
</head>
<body>
{% include './components/nav_bar.twig' %}
{% block content %}
{% endblock %}
{% include './components/footer.twig' %}
</body>
</html>