<div id="footer">
    <!--inserire nel css icone dei contatti-->
    <dl>
        <dd>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i>
                    <p>Contr&agrave; S. Franceso, 76 36100 Vicenza</p></li>
                <li><i class="fas fa-envelope"></i>
                    <p>info@tsmvicenza.it</p></li>
                <li><i class="fab fa-instagram"></i>
                    <p>tsm.vicenzaofficial</p></li>
                <!--numero di telefono-->
                <!--social-->
            </ul>
        </dd>
    </dl>
</div>
<script src="/assets/js/app.js"></script>