<div id="header">
    <!--<img src="" alt=" Teatro San Marco" /> Logo-->
    <img src="/assets/images/logo/logo.png" alt="Logo Teatro San marco"/>
    <ul class="menu">
        <li id="mFirst"><p class="corrente" xml:lang="en">Home</p></li>
        <li id="mProgrammazione"><a href="/pagine/programmazione.php">Programmazione</a></li>
        <li id="mAbout"><a href="/pagine/gallery.html">gallery</a></li>
        <li id="mLast"><a href="/pagine/contatti.html">Come trovarci</a></li>
    </ul>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>