<main class="bg-white bg-line-light h-screen scrollbar-hide">
<div class="flex h-full flex-col pt-28">

{{ partial:navigation/breadcrumbs }}
<h1 class=" text-4xl ml-5">{{title}}</h1>
<ul class="font-sans overflow-scroll">
    {{ collection:events paginate="10" as="events" }}
        {{ if no_results }}
            <p>Non ci sono eventi qui.</p>
        {{ /if }}
        {{events}}
        <li class="flex border-t border-t-secondary mt-3 py-3 px-20">
        <div class="flex">
            <div class="flex flex-col justify-between mr-3 h-full">
                <ul>
                    {{ event_times }}
                    <li><i class="fa-regular fa-clock"></i> {{time}}</li>
                    {{ /event_times }}
                </ul>
                <span class="uppercase mt-auto">
                    {{ date iso_format="d MMMM Y"}}
                </span>
            </div>
            {{ partial:components/picture :image="thumbnail" sizes="5vw" class="w-32" }}
            </div>
            <div class="flex flex-col ml-3">
                <h2 class="font-bold text-2xl">{{title}}</h2>
                <p>{{subtitle}}</p>
            </div>
            <a class="ml-auto mt-auto text-primary text-sm"
            href="/events/{{ id }}">
                Scopri di più
            </a>
        </li>
        {{ /events }}
    {{ /collection:events }}
</ul>
</div>
</main>
